body {
  background: #000;
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-family: arial, tahoma, verdana, sans-serif;
  font-weight: bold;
  overflow: hidden;
}
body, a {
  color: rgba(255, 255, 255, 0.85);
}
* {
  cursor: default;
}
body * {
  position: absolute;
  display: block;
}
a {
  cursor: pointer;
  text-decoration: none;
}
#container {
  width: 1280px;
  height: 720px;
  top: 50%;
  left: 50%;
  margin-left: -640px;
  margin-top: -360px;
  background: #212931;
}

.page {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
}

.page.hidden {
  opacity: 0;
}

#home {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#home.hidden #main-menu {
}
#home #main-menu {
  top: 30%;
  left: 40px;
  right: 40px;
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
/*      background: rgba(255, 255, 255, 0.1);*/
}
  #home  #main-menu a {
    font-size: 40px;
    width: 250;
    white-space: nowrap;
/*        background: rgba(255,255,255,0.1);*/
    text-align: center;
    bottom: 0;
    color: rgba(255, 255, 255, 0.2);
    -webkit-transition: font-size 0.1s ease-out, color 1s ease-out;
  }
    #home #main-menu .home {
      left: 0px;
    }
    #home #main-menu .movies {
      left: 210px;
    }
    #home #main-menu .tv-shows {
      left: 470px;
    }
    #home #main-menu .settings {
      right: 0px;
    }

  #home #main-menu a.active {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.9);
  }